---
import { localizePath } from 'astro-i18next';
---

<ul class="flex space-x-4 p-2 bg-gray-100 rounded-lg">
  {
    Object.entries({ en: 'English', fr: 'Français', uk: 'Українська' }).map(
      ([lang, label]) => (
        <li>
          <a
            href={localizePath(Astro.url.pathname, lang)}
            class="text-blue-600 hover:text-blue-800 font-medium"
          >
            {label}
          </a>
        </li>
      )
    )
  }
</ul>
